*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#7FFFD4;
}

.container{
    width: 700px;
    margin: 0 auto;
}

.style-section{
    display: flex;
    background-color: white;
    align-items: center;
    padding: 30px;
}

header{
    height: 80px;
    justify-content: space-between;
}

footer{
    height: 60px;
}

button{
    padding: 0 20px;
}

#grid{
    width: 500px;
    height: 500px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    height: calc(100%/10);
    flex-basis: calc(100%/10);
    border: 1px solid white;
    cursor: pointer;
   
}


